*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    background-image: url(images/love\ backgorund.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.glass-effect {
    background: rgba(255, 255, 255, 0.2); /* Transparent white */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
    backdrop-filter: blur(10px); /* Glass blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari compatibility */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    border-radius: 15px; /* Rounded corners */
    padding: 20px;
}